{% extends "private_messages/base.html" %}

{% load pagination_tags %}

{% block pm_menu %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{% url private_messages %}">Личные сообщения</a></li>
        <li><a href="{% url private_messages_new %}">Написать</a></li>
    </ul>
{% endblock %}

{% block pm_content %}
    <div class="row"><div class="span12">
        {% autopaginate pm_topics %}

        <form action="{% url private_messages_topic_delete %}" method="post">
            <table class="table">
                <tr>
                    <th>Тема</th>
                    <th>Кому адресованно</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Удалить</th>
                </tr>
                {% for topic in pm_topics %}
                    <tr>
                        <td><a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a></td>
                        <td>
                            {% ifequal topic.sender user %}
                                {{ topic.recipient }} <span>от меня</span>
                            {% else %}
                                <span>Мне от</span> {{ topic.sender }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% if topic.count_unread_messages %}
                                {% ifequal topic.last_unread_message.sender user %}
                                    <span class="badge badge-success">Отправлено</span>
                                {% else %}
                                    <span class="badge badge-important">Новое</span>
                                {% endifequal %}
                            {% else %}
                                <span class="badge">Прочитано</span>
                            {% endif %}
                        </td>
                        <td>{{ topic.last_sent_at|date:"d M, H:i:s" }}</td>
                        <td><input type="checkbox" name="topic[]" value="{{ topic.id }}" /></td>
                    </tr>
                {% endfor %}
            </table>

            <p style="text-align:right;">
                <input type="submit" value="Удалить" />
            </p>
        </form>

        {% paginate %}
    </div></div>
{% endblock %}
